<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.inibukanadit.made">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="me.inibukanadit.made.moviesapp.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="me.inibukanadit.made.moviesapp.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:parentActivityName=".main.MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".detail.DetailActivity"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name="me.inibukanadit.sharedmodule.db.helper.FavoriteProvider"
            android:authorities="me.inibukanadit.made.moviesapp"
            android:enabled="true"
            android:exported="true"
            android:readPermission="me.inibukanadit.made.moviesapp.READ_DATABASE"
            android:writePermission="me.inibukanadit.made.moviesapp.WRITE_DATABASE" />

        <receiver android:name=".widget.FavoritesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_widget_info" />
        </receiver>

        <service
            android:name=".widget.FavoritesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".main.reminder.ReminderReceiver" />

    </application>

</manifest>